body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.navbar {
  background-color: #FF4000;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 50px;
  border-radius: 3px;
  margin: 10px 10px;
}

.nav-lks {
  display: flex;
  flex-direction: column;

}

.navbar .links {
  color: #FEEFDD;
  font-weight: 400;
  font-size: 0.8em;
}

.navbar .links:hover {
  color: #201E1F;
}

.pic-size {
  width: 130px;
  height: 150px;
  border-radius: 30%
}

.pic-size:hover {
  width: 140px;
}

.links {
  text-decoration: none;
}

button {
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border-radius: 5px;
  border: 0px;
  margin: 20px auto;
  background-color: #FAAA8D;
}

button:hover {
  background-color: #FF4000;
}

.all-pages {
  margin: 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #201E1F;
}

h1 {
  color: #FEEFDD;
  margin: 0px 0px;
}

.profile .links{
  color: #FEEFDD;
  font-weight: 200;

}

.profile .links:hover {
  color: #FF4000;
}







/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
