/* GENERAL STYLE */

body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.all-pages {
  margin: 0;
  min-height: 700px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #201E1F;
}

button {
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border-radius: 6px;
  border: 0px;
  margin: 20px auto;
  background-color: #FAAA8D;
}

.button-border-margin {
  border-radius: 5px;
  margin: 20px auto;
}

button:hover {
  background-color: #FF4000;
}


h1 {
  color: #FEEFDD;
  margin: 0px 0px;
}

.links {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  background-color: #FF4000;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 50px;
  border-radius: 3px;
  margin: 10px 10px;
}

.nav-lks {
  display: flex;
  flex-direction: column;

}

.navbar .links {
  color: #FEEFDD;
  font-weight: 400;
  font-size: 0.8em;
}

.navbar .links:hover {
  color: #201E1F;
}

/* HOME - PROFILE */

.pic-size {
  width: 130px;
  height: 150px;
  border-radius: 30%
}

.pic-size:hover {
  width: 140px;
}

.profile .links{
  color: #FEEFDD;
  font-weight: 200;
}

.profile .links:hover {
  color: #FF4000;
}

/* CREATE UPDATE PAGE */

.create-update-event label {
  color: #FEEFDD;
  font-weight: 200;
}

.create-update-event form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-update-event input {
  background-color: #FEEFDD;
  color: #201E1F;
  width: 120%;
  height: 25px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
}

/* ONE EVENT PAGE */
.events {
  margin: 10px 20px;
  color: #FEEFDD;
}

.events h3 {
  font-weight: 200;
  font-size: 0.8em;
  line-height: 5px;
  margin-left: 10px;  
}

.events .one-event-lks {
  padding: 9px 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  border-radius: 5px;
  border: 0px;
  margin: 20px 10px;
  background-color: #FAAA8D;
  color:#201E1F;
}

.one-event-lks:hover {
  background-color: #FF4000;
}

.comments {
  margin-left: -150px;
}

.comment-list {
  color: #FEEFDD;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 5px;
}

.create-comment {
  display: flex;
  flex-direction: column;
}

.comment-list button {
  padding: 6px 12px;
  font-size: 0.8em;
  margin: 5px auto;
}

.create-comment textarea {
  background-color: #FEEFDD;
  color: #201E1F;
  width: 150%;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
}

/* ALL EVENTS AND MY EVENTS PAGES */

.search-bar input {
  background-color: #FEEFDD;
  color: #201E1F;
  width: 120%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px 0; 
}

.checkbox label {
  color: #FEEFDD;
  font-weight: 200;
}

.checkbox input[type="checkbox" i] {
  margin-right: 20px;

}

.events-list {
  margin: 20px;
}

.events-list .links {
  color: #FEEFDD;
  font-weight: 200;
  font-size: 1.2em;
}

.events-list .links:hover {
  color:#FF4000
}

.events-list p {
  color: #FEEFDD;
  font-weight: 200;
  font-size: 0.7em;
  margin-top: 0;
}


/* FOOTER */

.footer {
  background: black;
  height: 150px;
  color: white;
}

/* HOME SCREEN */
.homescreen-logo {
  width: 400px;
  height: 300px;
  border-radius: 3px;
  margin: 10px 10px;
  border-radius: 30px 30px 30px 30px;
}

.home-links {
  text-decoration: none;
}
.home-links:visited {
  color: black;
}

/* SIGN UP PAGE */
.auth-page {
  margin: 0;
  min-height: 775px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #201e1f;
  color: #feefdd;
}
.auth-page .links:visited {
  color: #feefdd;
}

.signup-login input {
  background-color: #feefdd;
  border: none;
  border-radius: 3px;
  height: 30px;
  margin-top: 10px;
}

.signup-login .form-signup-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signup-login .links:hover {
  color: #FF4000;
}

/* LOGIN PAGE */

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* UPDATE PICTURE PAGE */

.update-user {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.update-user form {
  margin-top: 20px;
}

.update-user label {
  margin-right: 10px;
  color: #FEEFDD;
  font-weight: 400;
  font-size: 1.2em ;
}

.update-user input {
  color: #FEEFDD;
  font-weight: 200;
}

.update-user button {
display: flex;
margin-top: 80px;
}





